*{
    margin: 0;
}

.inputArea, .addButton,h1{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.bookArea{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

