.hidden {
    display: none;
  }
  
.book-card {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 10px 10px 10px;
}
.book-list{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 25px;
}
.head-text{
  text-align: center;
}
.book-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 44%;
}
